div.slider ul, div.slider li, ul.sliderControls {
	margin:0px;
	padding:0px;
	list-style:none;
}
div.slider {
	overflow: hidden;
	position:relative;
}
div.slider ul {
	position:relative;
}
div.slider li {
	float:left;
	display:list-item;
}